USE [master]
GO
/****** Object:  Database [Elokuvat]    Script Date: 25.4.2022 12.10.35 ******/
CREATE DATABASE [Elokuvat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Elokuvat', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Elokuvat.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Elokuvat_log', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Elokuvat.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Elokuvat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Elokuvat]
GO
USE [Elokuvat]
GO
/****** Object:  Table [dbo].[elokuvat]    Script Date: 25.4.2022 12.10.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[elokuvat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nimi] [nvarchar](116) NULL,
	[Julkaisuvuosi] [smallint] NULL,
	[Kesto] [smallint] NULL,
	[Arvio] [tinyint] NULL,
	[Julkaisija_id] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[julkaisijat]    Script Date: 25.4.2022 12.10.36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[julkaisijat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[julkaisijan_nimi] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
