USE [master]
GO
/****** Object:  Database [Asiakaspalvelu]    Script Date: 25.4.2022 12.11.16 ******/
CREATE DATABASE [Asiakaspalvelu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Asiakaspalvelu', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Asiakaspalvelu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Asiakaspalvelu_log', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Asiakaspalvelu.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Asiakaspalvelu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Asiakaspalvelu]
GO
USE [Asiakaspalvelu]
GO
/****** Object:  Table [dbo].[Asiakas]    Script Date: 25.4.2022 12.11.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiakas](
	[asiakasnumero] [int] IDENTITY(1,1) NOT NULL,
	[etunimi] [nchar](50) NULL,
	[sukunimi] [nchar](50) NULL,
	[sahkoposti] [nchar](50) NULL,
	[toimitusosoite] [nchar](50) NULL,
	[postinumero] [nchar](50) NULL,
	[postitoimipaikka] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[asiakasnumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tilaus]    Script Date: 25.4.2022 12.11.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tilaus](
	[tilausnumero] [int] IDENTITY(1,1) NOT NULL,
	[asiakasnumero] [int] NULL,
	[paivamaara] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tilausnumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TilausRivi]    Script Date: 25.4.2022 12.11.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TilausRivi](
	[tilausrivinumero] [int] IDENTITY(1,1) NOT NULL,
	[tilausnumero] [int] NOT NULL,
	[tuotenumero] [int] NOT NULL,
	[maara] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tilausrivinumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuote]    Script Date: 25.4.2022 12.11.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuote](
	[tuotenumero] [int] IDENTITY(1,1) NOT NULL,
	[tuote] [nchar](50) NULL,
	[hinta] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tuotenumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
