USE [master]
GO
/****** Object:  Database [Pelit]    Script Date: 25.4.2022 12.08.06 ******/
CREATE DATABASE [Pelit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pelit', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Pelit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pelit_log', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Pelit.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pelit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pelit]
GO
USE [Pelit]
GO
/****** Object:  Table [dbo].[Pelaaja]    Script Date: 25.4.2022 12.08.06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelaaja](
	[pelaaja_Id] [int] IDENTITY(1,1) NOT NULL,
	[nimi] [nchar](10) NULL,
	[sukupuoli] [nchar](10) NULL,
	[lähiosoite] [nchar](10) NULL,
	[postinumero] [nchar](10) NULL,
	[puhelinumero] [nchar](10) NULL,
	[email] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[pelaaja_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peli]    Script Date: 25.4.2022 12.08.06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peli](
	[peli_Id] [int] IDENTITY(1,1) NOT NULL,
	[nimi] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[peli_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tulos]    Script Date: 25.4.2022 12.08.06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tulos](
	[peli_Id] [int] NOT NULL,
	[pelaaja_Id] [int] NOT NULL,
	[tulos] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[peli_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
