USE [master]
GO
/****** Object:  Database [konservatorio]    Script Date: 25.4.2022 12.13.22 ******/
CREATE DATABASE [konservatorio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'konservatorio', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\konservatorio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'konservatorio_log', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\konservatorio.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [konservatorio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [konservatorio]
GO
USE [konservatorio]
GO
/****** Object:  Table [dbo].[Opettajat]    Script Date: 25.4.2022 12.13.22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opettajat](
	[opettajanumero] [int] IDENTITY(1,1) NOT NULL,
	[nimi] [nchar](50) NULL,
	[puhelinnumero] [nchar](50) NULL,
	[osoitetiedot] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[opettajanumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opiskelija]    Script Date: 25.4.2022 12.13.22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opiskelija](
	[opiskelijanumero] [int] IDENTITY(1,1) NOT NULL,
	[nimi] [nchar](50) NULL,
	[puhelinnumero] [nchar](50) NULL,
	[osoitetiedot] [nchar](50) NULL,
	[opettaja] [int] NULL,
	[soitinnumero] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[opiskelijanumero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Soittimet]    Script Date: 25.4.2022 12.13.22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Soittimet](
	[soitinnumro] [int] IDENTITY(1,1) NOT NULL,
	[soittimen nimi] [nchar](50) NULL,
	[merkki] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[soitinnumro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
