USE [master]
GO
/****** Object:  Database [Leipomo]    Script Date: 25.4.2022 12.13.55 ******/
CREATE DATABASE [Leipomo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Leipomo', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Leipomo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Leipomo_log', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Leipomo.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Leipomo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Leipomo]
GO
USE [Leipomo]
GO
/****** Object:  Table [dbo].[Organisaatio]    Script Date: 25.4.2022 12.13.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organisaatio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nimi] [nchar](10) NULL,
	[Jälleenmyyja] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ostoskori]    Script Date: 25.4.2022 12.13.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ostoskori](
	[OstoskoriID] [int] NOT NULL,
	[TuoteID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OstoskoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 25.4.2022 12.13.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tuote] [nchar](10) NULL,
	[AsiakasHinta] [nchar](10) NULL,
	[JalleenmyyntiHinta] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tilaus]    Script Date: 25.4.2022 12.13.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tilaus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YksitysihenkiloID] [int] NULL,
	[OrganisaatioID] [int] NULL,
	[TilausID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuotteet]    Script Date: 25.4.2022 12.13.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuotteet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tuote] [nchar](10) NULL,
	[AsiakasHinta] [nchar](10) NULL,
	[JalleenmyyntiHinta] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yksityishenkilo]    Script Date: 25.4.2022 12.13.55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yksityishenkilo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nimi] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ostoskori]  WITH CHECK ADD FOREIGN KEY([TuoteID])
REFERENCES [dbo].[Tuotteet] ([Id])
GO
ALTER TABLE [dbo].[Tilaus]  WITH CHECK ADD FOREIGN KEY([OrganisaatioID])
REFERENCES [dbo].[Organisaatio] ([Id])
GO
ALTER TABLE [dbo].[Tilaus]  WITH CHECK ADD FOREIGN KEY([TilausID])
REFERENCES [dbo].[Ostoskori] ([OstoskoriID])
GO
ALTER TABLE [dbo].[Tilaus]  WITH CHECK ADD FOREIGN KEY([YksitysihenkiloID])
REFERENCES [dbo].[Yksityishenkilo] ([Id])
GO
USE [master]
GO
