USE [master]
GO
/****** Object:  Database [Suunnistus]    Script Date: 2.5.2022 12.29.52 ******/
CREATE DATABASE [Suunnistus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Suunnistus', FILENAME = N'C:\Users\eerik\Suunnistus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Suunnistus_log', FILENAME = N'C:\Users\eerik\Suunnistus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Suunnistus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Suunnistus]
GO
USE [Suunnistus]
GO
/****** Object:  Table [dbo].[Kilpailija]    Script Date: 2.5.2022 12.29.52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kilpailija](
	[ID] [int] NOT NULL,
	[Nimi] [varchar](70) NOT NULL,
	[Osoite] [varchar](70) NOT NULL,
	[Seura] [varchar](70) NOT NULL,
	[Ika] [int] NOT NULL,
	[Sukupuoli] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisa]    Script Date: 2.5.2022 12.29.52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisa](
	[ID] [int] NOT NULL,
	[KilpailijaID] [int] NOT NULL,
	[Kisa] [varchar](70) NOT NULL,
	[Lahtonumero] [int] NOT NULL,
	[Lahtoaika] [varchar](70) NOT NULL,
	[Loppuaika] [varchar](70) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KilpailijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rastit]    Script Date: 2.5.2022 12.29.52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rastit](
	[KilpailijaID] [int] NOT NULL,
	[RastiNimi] [varchar](70) NOT NULL,
	[Aika] [varchar](70) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suunnistus]    Script Date: 2.5.2022 12.29.52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suunnistus](
	[ID] [int] NOT NULL,
	[Nimi] [varchar](128) NOT NULL,
	[Osoite] [varchar](128) NOT NULL,
	[Seura] [varchar](64) NULL,
	[Ika] [int] NOT NULL,
	[Kisa] [varchar](64) NOT NULL,
	[Pvm] [date] NOT NULL,
	[Lahtonro] [int] NULL,
	[Lahtoaika] [time](7) NULL,
	[Rasti1] [time](7) NULL,
	[Rasti2] [time](7) NULL,
	[Rasti3] [time](7) NULL,
	[Rasti4] [time](7) NULL,
	[Rasti5] [time](7) NULL,
	[Rasti6] [time](7) NULL,
	[Rasti7] [time](7) NULL,
	[Rasti8] [time](7) NULL,
	[Rasti9] [time](7) NULL,
	[Rasti10] [time](7) NULL,
	[Loppuaika] [time](7) NULL,
	[Sarja] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kilpailija]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Kisa] ([KilpailijaID])
GO
ALTER TABLE [dbo].[Rastit]  WITH CHECK ADD FOREIGN KEY([KilpailijaID])
REFERENCES [dbo].[Kilpailija] ([ID])
GO
USE [master]
GO
