USE [master]
GO
/****** Object:  Database [ElokuvaKanta]    Script Date: 25.4.2022 12.15.34 ******/
CREATE DATABASE [ElokuvaKanta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElokuvaKanta', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ElokuvaKanta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElokuvaKanta_log', FILENAME = N'C:\Users\eerik\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\ElokuvaKanta.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElokuvaKanta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElokuvaKanta]
GO
USE [ElokuvaKanta]
GO
/****** Object:  Table [dbo].[Elokuvat]    Script Date: 25.4.2022 12.15.34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elokuvat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nimi] [nchar](150) NULL,
	[JulkaisuPvm] [date] NULL,
	[KestoMinuutteina] [tinyint] NULL,
	[Arvio ] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
